.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 60px;
  background-color: #141B28;
}

.nav {
  display: flex;
  flex-direction: row;
}

#name {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  color: white;
}

.nav-item {
  margin: 20px 10px 20px 10px;
  color: white;
}