.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141B28;
  padding: 140px 10px 100px 10px;
}

#about-header {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#about-info {
  margin: 10px;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#resume {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.3s;
}

#resume:hover {
  transform: scale(1.1);
}

#logo1, #logo2, #logo3, #logo4 {
  height: 150px;
  width: 300px;
  transition: all 0.3s;
}

#logo1:hover, #logo2:hover, #logo3:hover, #logo4:hover {
  transform: scale(1.1);
}

.projects {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #141B28;
}

.project-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#proj1, #proj2, #proj3, #proj4 {
  flex: 1;
  margin: 10px;
  max-width: 350px;
}

#projects-header {
  margin: 0px 0px 10px 0px;
  padding-top: 40px;
  color: #141B28;
  font-family: "Montserrat", sans-serif;
}

.project-name {
  font-family: "Montserrat", sans-serif;
}

.project-stack {
  font-weight: 500;
}

#skills-header {
  font-family: "Montserrat", sans-serif;
}

.skills {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #37676E;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.skills-div {
  display: flex;
  flex-direction: row;
}

#languages, #management, #methods, #databases {
  flex: 1;
  margin: 10px;
  border: 1px  solid white;
  border-radius: 10px;
  padding: 1px 5px 1px 5px;
  background-color: white;
  color:black;
}

.contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #163559;
  color: white;
  font-family: "Montserrat", sans-serif;
}

#github, #linkedin {
  text-decoration: none;
  color: white;
  margin: 10px;
  transition: all 0.3s;
}

#github:hover, #linkedin:hover {
  color: black;
}

@media only screen and (max-width: 450px) {
  #about-info {
    width: 90%;
    margin: 5px;
    font-size: 16px;
  }
  .skills-div {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1024px) {
  .about {
    padding: 200px 10px 200px 10px;
  }
  .projects {
    padding: 200px 10px 200px 10px;
  }
  #projects-header {
    margin-bottom: 40px;
  }
  .skills {
    padding: 200px 10px 200px 10px;
  }
  #skills-header {
    margin-bottom: 60px;
  }
  .contact {
    padding: 200px 10px 200px 10px;
  }
  #contact-header {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  #languages, #management, #methods, #databases {
    padding: 10px;
  }
}
